body {
  display: flex;
}

main {
  margin: auto;
  height: 680px;
  width: 75%;
  background-image: url("./images/football_pitch.jpeg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 1100px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

div {
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0001px solid rgba(23, 23, 23, 0.8);
}

.sidebar {
  background-color: brown;
  width: 12.5%;
  height: 680px;
}

img {
  height: 4rem;
  width: 70%;
}
